<div class="col s3">
  <div class="card hoverable" style="min-width:200px;">
    <a href="/view/ads/<%= each.id %>">
      <div class="card-image waves-effect waves-block waves-light" style="background:url('<%= each.img_path %>') center center no-repeat; background-size: contain; height: 200px; width: 100%;">
      <!-- <img style="width:100%; height:auto; margin: 0 auto;"class="activator" src="/ad_img/<%= each.img_path %>"> -->
      </div>
    </a>
    <div class="card-content">
      <!-- expand_less points up, even though this button expands MORE-->
      <span class="card-title activator grey-text text-darken-4"><%= each.title %></span>
      <!-- <span class="card-title activator grey-text text-darken-4">Shared to <%= each.platform %> -->
    </div>
  </div>
</div>
