<!DOCTYPE html>
<html lang="en">

  <head>
    <title>AdMe</title>

    <meta property="og:url"           content="http://127.0.0.1:8080" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Awesomesauce" />
    <meta property="og:description"   content="Testrun" />
    <meta property="og:image"         content="http://127.0.0.1/public/ad_img/1.jpg" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/fb_api.js" ></script>

    <!-- Fonts  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <!-- CSS file to overwrite Materialize, if necessary
    <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->

  </head>

  <body>
    <%- include partials/_topnav %>
    <div class="row">
      <div class="col l4" >
        <img src="/ad_img/<%= product.img_path %>" style="height:325px;">
      </div>
      <div class="col l8">
        <dl>
          <dt>Name</dt>
          <dd><%= product.title %></dd>
          <dt>Description</dt>
          <dd><%= product.desc %></dd>
        </dl>
        <div id="fb" class="btn btn-success clearfix">Share</div>

        <div class="fb-share-button" data-href="http://127.0.0.1:8080/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8080%2F&amp;src=sdkpreparse">Share to FB</a></div>
        <a href="/views/<%= product.id %>/share/tw">TW Share</a>
      </div>
    </div>

  </body>
</html>
