<!DOCTYPE html>
<html lang="en">

  <head>
    <title>AdMe</title>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AdMe">
    <meta name="twitter:title" content="<%= product.title %>">
    <meta name="twitter:description" content="<%= product.desc %>">
    <meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg">

    <meta property="og:url"           content="adme-app.herokuapp.com/view/<%= product.id %>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%= product.title %>" />
    <meta property="og:description"   content="<%= product.desc %>" />
    <meta property="og:image"         content="https://img.clipartfox.com/6a7ba8a6429e1b6ae50adb34acee6957_nature-google-the-vineyard-google-clipart-nature_1600-1200.jpeg" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/share_api.js" ></script>

    <!-- Fonts  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/button-override.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <!-- CSS file to overwrite Materialize, if necessary
    <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->

  </head>

  <body>
    <div class="row">
      <% include partials/_topnav %>
      <div class="col s12 m6 l4" >
        <img src="/ad_img/<%= product.img_path %>" style="height:325px;">
      </div>
      <div class="col s12 m6 l8">
        <dl>
          <dt>Name</dt>
          <dd><%= product.title %></dd>
          <dt>Description</dt>
          <dd><%= product.desc %></dd>
        </dl>

        <% if (user) {%>
          <div class="fb-share-button"
          data-href="https://adme-app.herokuapp.com/refer/?id=<%= product.id %>"
          data-layout="button_count"
          data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore"
            target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fadme-app.herokuhost.com%2Frefer%2F%3Fid%3D<%= shareFb.id %>&amp;src=sdkpreparse">Share</a>
          </div>
          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text=<%= product.title %> - <%= product.desc %>&url=https%3A%2F%2Fadme-app.herokuhost.com%2Frefer%2F%3Fid%3D<%= shareTw.id %>">
          Tweet</a>
        <% } %>
      </div>
    </div>

  </body>
</html>
